# Virtual environment
/venv/

# Built files
/build/

# Environment variables
.env

# Pytest artifacts
**/__pycache__/**
.pytest_cache

# Quarto execution artifacts
*_files/
*_cache/
**/.quarto/
**/*.quarto_ipynb
entities.md

# Small tests and notes
/test.*
/notes.*

# Varia
.DS_Store